autonomous-ai-email-agent-with-semantic-memory.json
{
  "name": "n8n-project-01",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Dianne. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "2c55f9e8-0bd5-4860-9598-34cc7bdcd945",
      "name": "When chat message received",
      "webhookId": "a352bfb5-8fc2-44ec-82e6-9973d8fccb20"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=send me an email?{{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ca2a7318-f980-4ed6-9b6d-853fe7fbef77",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        96,
        208
      ],
      "id": "c7c1cce7-6465-47f9-8e21-fb215e62a6e7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uljhmxOYZREEvA6C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        304,
        240
      ],
      "id": "98ac673e-2c42-4d31-9be5-7c76905f4da2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        592,
        224
      ],
      "id": "4fd51917-53cf-4186-8058-4c8d5820eb82",
      "name": "Send a message in Gmail",
      "webhookId": "15e4b01e-23ae-4d46-9cf0-12ae994b2571",
      "credentials": {
        "gmailOAuth2": {
          "id": "Dr1rwjtbBzIaLW3A",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b802167-4f40-47d8-84c6-e8d8600332d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b73d99540e8323947d473910bd5d7c02ac8b8cfe08e0f13a06073e9a65adbb0"
  },
  "id": "KY0GZNZu9Stv9WFe",
  "tags": []
}